extends layout

block content
  h1= title

  ul
    each event in event_list
      li.project
        a(href=event.url) #{event.name}
        br
        a(href=event.project.url) (Part of project: #{event.project.name})

    else
      li There are no events.